# {{ ansible_managed }}
# Gzip Configuration

gzip {{ nginx_gzip }};
gzip_vary {{ nginx_gzip_vary }};
gzip_proxied {{ nginx_gzip_proxied }};
gzip_comp_level {{ nginx_gzip_comp_level }};
gzip_min_length {{ nginx_gzip_min_length }};
gzip_types
{% for type in nginx_gzip_types %}
    {{ type }}
{% endfor %};
