---
# Configure Nginx Sites

- name: Create document roots
  file:
    path: "{{ item.root | default('/var/www/' + item.name) }}"
    state: directory
    owner: "{{ nginx_user }}"
    group: "{{ nginx_user }}"
    mode: '0755'
  loop: "{{ nginx_sites }}"
  when: nginx_sites is defined

- name: Deploy site configurations
  template:
    src: site.conf.j2
    dest: "{{ nginx_sites_available }}/{{ item.name }}.conf"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ nginx_sites }}"
  when: nginx_sites is defined
  notify: Reload nginx

- name: Enable sites
  file:
    src: "{{ nginx_sites_available }}/{{ item.name }}.conf"
    dest: "{{ nginx_sites_enabled }}/{{ item.name }}.conf"
    state: link
  loop: "{{ nginx_sites }}"
  when: 
    - nginx_sites is defined
    - item.enabled | default(true)
  notify: Reload nginx

- name: Validate nginx configuration
  command: nginx -t
  changed_when: false
