# ═══════════════════════════════════════════════════════════════════════════════
# Elasticsearch JVM Heap Settings
# ═══════════════════════════════════════════════════════════════════════════════
# توصیه: Heap size باید حداکثر 50% RAM باشد و از 32GB تجاوز نکند

-Xms{{ es_heap_size }}
-Xmx{{ es_heap_size }}
